* {
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 1277px;
    /* background-color: rgba(255, 255, 255, 0.726); */
}

.login a {
    margin-top: 18px;
    padding-right: 20px;
    float: right;
}

nav, .bg, .news , .body{
    border: 0.1px solid rgba(255, 0, 0, 0);
}

.bg{
    width: 100%;
    height: auto;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 50px;
    /* opacity: 1; */
}

.bg h1{
    margin-top: 120px;
    margin-left: 60px;
    font-family: SimHei;
    font-size: 42px;
    color: #f1f1f1;
}

.bg p{
    margin-left: 60px;
    text-transform: uppercase;
    font-family: SimHei;
    font-size: 18px;
    color: #f1f1f1;
    margin-bottom: 55px;
}

nav{
    width: 100%;
    height: 65px;
    background-color: #5994f2;
    color: #fff;
    /* box-shadow: 1px 1px 5px #888; */
}

nav li{
    width: 240px;
    color: #fff;
    border-right: 1px solid #fff;
    margin-top: 22px;
    text-align: center;
}

nav li:last-child{
    border: none;
}

.news{
    background-color: #dadee0;
    height:40px;
}


.p1{
    padding-top: 8px;
    padding-left: 20px;
    font-size: 18px;
}

.p2{
    padding-top: 10px;
    padding-left: 40px;
    font-size: 14px;
    display: list-item;
}
.flex1{
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;  
}

li a{
    font-size: 1.7rem;
    color: #fff;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
}

.body{
    background-color: rgba(255, 255, 255, 0.726);
    height: 909px;
    /* opacity: 0.7; */
}

/* .box{
    border: 1px solid red;
} */

.box1{
    background-color:#fff;
    height: 214px;
    margin: 20px 51px 0px 51px;
}

.box2{
    height: 240px;
    margin-top: 45px;
}

.box3{
    height: 280px;
    margin: 41px 58px 48px 51px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}

.box1-title{
    width:1168px;
    height:47px;
    background-image: url(../img/1.png);
    background-position: unset;
    background-repeat: no-repeat;
    position: relative;
    left: -10px;
}

.box1-title h3{
    display:initial;
    margin-left:12px;
    color:#f1f1f1
}

.box1-content{
    width: 190px;
    height: 150px;
    /* width: 150px;
    height: 140px;
    margin-left: 20px; */
}

.box1-content p{
    text-align: center;
    margin-bottom: 27px;
    margin-top: 11px;
    font-size: 12px;
}

.title-img{
    background-image: url(../img/jscl.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    margin-left: 16px;
    margin-top: 8px;
    background-position: center;
    display: inline-flex;
}

.content-img{
    /* width:150px; */
    height:99px;
    /* background-repeat: no-repeat;
    background-position: center; */
}

.box2-img{
    width: 311px;
    height: 191px;
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; 
}

.box2-img h3{
    color: #337ab7;
    text-align: center;
    background-color: #fff;
    position: relative;
    top: 160px;
    line-height: 60px;  
}

.flex2{
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    margin-left: 76px;
    margin-right: 76px;
}

.box3-1{
    width: 540px;
    height: 280px;
    display: inline-block;
    background-color: white;
}

.box3-2{
    width: 540px;
    height: 280px;
    display: inline-block;
    background-color: white;    
}

.box3-title{
    width:555px;
    height:53px;
    background-image: url(../img/2.png);
    background-position: unset;
    background-repeat: no-repeat;
    position: relative;
    left: -15px;
    top: -7px;
}

.box3-img{
    background-repeat: no-repeat;
    /* margin-left: 16px;
    margin-top: 10px; */
    background-position: center;
    display: inline-flex;
}

.box3-title h3{
    display:initial
    ;margin-left:12px;
    color:#f1f1f1;
}

.content-img3{
    width:230px;
    height:183px;   
    display: inline-block;
    margin-top: 15px;
    margin-left: 13px;
    background-image: url(../img/renwu.png);
    background-repeat: no-repeat;
}

.box3-content{
    height:183px;
    width:250px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
    position: absolute;
    line-height: 25px;
}

.db{
    text-align: center;
    color: #337ab7;
    margin-top: 33px;
    margin-bottom: 29px;
}

/* .i3-con{
    width:500px;
    height: 300px;
    margin-top: 41px;
}

.con3{
    width:100%;
    height:100px;
} */





